[submodule "dot-config/zsh"]
	path = dot-config/zsh
	url = https://github.com/littleblack111/zsh.git
[submodule "dot-config/nvim"]
	path = dot-config/nvim
	url = https://github.com/littleblack111/nvim.git
[submodule "dot-config/lvim"]
	path = dot-config/lvim
	url = https://github.com/littleblack111/lvim-config.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/littleblack111/scripts.git
[submodule "dot-oh-my-zsh"]
	path = dot-oh-my-zsh
	url = https://github.com/littleblack111/ohmyzsh.git
[submodule "dot-config/spicetify"]
	path = dot-config/spicetify
	url = https://github.com/littleblack111/spicetify.git
[submodule "dot-zen/main/chrome/dot-zen/main/chrome/Zen-Nebula"]
	path = dot-zen/main/chrome/dot-zen/main/chrome/Zen-Nebula
	url = https://github.com/JustAdumbPrsn/Zen-Nebula.git
