**/cache/
*.log
cache/
logs/
colors.*
dot-config/waybar/colors.css
dot-config/swaync/colors.css
dot-config/rofi/shared/colors.rasi
dot-config/hypr/colors.conf
dot-config/Kvantum/KvArcDark#/KvArcDark#.kvconfig
dot-config/fcitx/dbus
