**/cache/
*.log
cache/
logs/
colors.*
dot-config/waybar/colors.css
dot-config/swaync/colors.css
dot-config/rofi/shared/colors.rasi
dot-config/hypr/colors.conf
dot-config/Kvantum/KvArcDark#/KvArcDark#.kvconfig
dot-config/fcitx/dbus
dot-config/hypr/bg.conf
dot-local/share/fcitx5/pinyin/user.history
dot-local/share/fcitx5/pinyin
dot-config/fcitx5/conf/cached_layouts
dot-hyperhdr/lut_lin_tables.3d
dot-config/kitty/colors.conf
dot-config/helix/themes/wallust.toml
