[submodule "lvim"]
	path = lvim
	url = https://github.com/littleblack111/lvim-config.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/littleblack111/nvim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/littleblack111/zsh.git
[submodule ".local/share/barrier"]
	path = .local/share/barrier
	url = https://github.com/littleblack111/barrier-pem.git
[submodule ".local/share/lunarvim"]
	path = .local/share/lunarvim
	url = https://github.com/littleblack111/lvim-localshare
[submodule ".config/lvim"]
	path = .config/lvim
	url = https://github.com/littleblack111/lvim-config.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/littleblack111/scripts.git
