* {
    border-radius: 2px;
    --bg: rgba(0,0,0,0.3) !important;
    --bg-color: rgba(0,0,0,0.3) !important;
    --background: rgba(0,0,0,0.3) !important;
    --background-color: rgba(0,0,0,0.3) !important;
    --primary-background: rgba(0,0,0,0.3) !important;
    --bgColor-inset: rgba(0,0,0,0.3) !important;
    /* background-color: transparent !important; */
    /* p, span, h1, h2, h3, h4, strong, a { */
    /*     background-color: transparent !important; */
    /* } */
}

@-moz-document url-prefix("https://www.google.com") {
    .sfbg {
        background-color: transparent !important;
    }
    #appbar, .appbar {
        background-color: transparent !important;
    }
    #search * > :not(.MjjYud *), .dURPMd * > :not(.MjjYud *) {
        background: transparent !important;
        background-color: transparent !important;
    }
    .KcXNxb, .dG2XIf {
        background-color: transparent !important;
    }
    .MjjYud > div > div, .MjjYud > div {
        background: var(--bg-color) !important;
        background-color: var(--bg-color) !important;
        border-radius: 8px !important;
    }
}

@-moz-document url-prefix("https://docs.google.com/forms") {
    * {
        --bg-color: rgba(0,0,0,0) !important;
    }
}

@-moz-document url-prefix("https://docs.google.com/presentation") {
    #docs-editor, #docs-editor-container {
        background: var(--bg-color) !important;
    }
    .workspace-container {
        background: transparent !important;
    }
    .filmstrip {
        background: transparent !important;
    }
}

@-moz-document url-prefix("https://docs.google.com/document") {
    #docs-editor, #docs-editor-container, .kix-appview-editor {
        background: var(--bg-color) !important;
    }
}

@-moz-document url-prefix("https://github.com") {
    #partial-discussion-header {
        background: transparent !important;
    }
    .comment {
        background: var(--bg-color) !important;
    }
    .discussion-timeline-actions {
        background: transparent !important;
    }
    .color-bg-default, .color-fg-default, .bgColor-default, .color-bg-inset, .bgColor-inset {
        background-color: var(--bg-color) !important;
        backdrop-filter: blur(16px) !important;
    }
    .feed-background {
        background-color: var(--bg-color) !important;
    }
}

@-moz-document url-prefix("https://vsa.managebac.com") {
    .content-block {
        background: var(--bg-color) !important;
    }
    #menu *:not(.f-menu-submenu, .f-menu-submenu-link) {
        background: transparent !important;
        background-color: transparent !important;
    }
    #menu {
        background: var(--bg-color) !important;
    }
    .f-menu-submenu, .f-menu-submenu-link {
        background: var(--bg-color) !important;
    }
    .fusion-card-item {
        background: var(--bg-color) !important;
    }
}

body, html {
    background-color: var(--bg-color) !important;
}

html#main-window > body {
    background: transparent !important;
}

#zen-main-app-wrapper {
    background: color-mix(in oklab, var(--zen-main-browser-background) 90%) !important;
}
