@import url("./colors.css");
@import url("./colors-nongen.css");


* {
    border: none;
    font-family: Iosevka, FontAwesome, Noto Sans CJK, Jetbrains Nerd Font, sans-serif;
    font-size: 16px;
    min-height: 0;
    margin-bottom: 0;
    /* color: @ACCENT */
    color: @FOREGROUND;
}

.module {
    background: @BACKGROUND;
    border-radius: 8px;
    margin: 4px;
    padding: 4px 4px 4px 4px;
    border: 2px solid @color9;
    padding-right: 16px;
    padding-left: 16px;
}

window#waybar {
    font-family: Iosevka, FontAwesome, Noto Sans CJK, "JetBrains Mono NerdFont";
    background-color: transparent;
    font-size: 0.8rem;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

tooltip {
    background-color: @BACKGROUND;
    color: @ACCENT;
    border-radius: 4px;
    padding: 4px;
    font-size: 0.8rem;
}

/* @keyframes glowing {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    to {
        background-position: 0 0
    }
} */


/* .modules-center {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
    background-size: 400%;
    border-radius: 8px;
    animation: glowing 20s linear infinite;
} */


#custom-launcher {
    color: @color14;
    border-radius: 10px;
    padding: 0px 16px 0px 16px;
    padding-left: 11px;
    font-size: 28px;
    /* font-size: 2.5rem; */
}

/* #custom-gmail.unread { */
/*     color: @WHITE; */
/* } */
/* #custom-gmail.inaccurate { */
/*     color: @YELLOW; */
/* } */
/* #custom-gmail.error { */
/*     color: @RED; */
/* } */

#workspaces {
    background-color: @BACKGROUND;
    border-radius: 10px;
}

#workspaces button {
    opacity: 0.8;
    border-radius: 12px; 
    background-color: @color3;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    transition: all 0.2s;
    transition-timing-function: linear;
}

#workspaces button.empty {
    background-color: @FOREGROUND;
    opacity: 0.4;
    border-radius: 12px;
}

#workspaces button.active {
    background-color: @color1;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 14px;
    padding-right: 14px;
    opacity: 1;
}


#workspaces button.urgent {
    /* background-color: @RED; */
    background-color: #FF0000;
    border-radius: 16px 16px 16px 16px; 
    opacity: 1;
}

#temperature.critical {
    color: @RED;
}

.no {
    background-color: transparent;
    border: none;
}

/* .mic, .cam { */
/*     color: @YELLOW; */
/* } */

#custom-indicator {
    color: @YELLOW;
}

#custom-shutdown {
    color: @RED;
    padding-left: 17px;
}

#custom-quit, #custom-lock, #custom-suspend, #custom-reboot {
    color: @YELLOW;
}

#custom-reboot {
    color: @RED;
}

#privacy {
    background-color: @BACKGROUND;
    border-radius: 0px 8px 8px 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#privacy > *, #privacy-item > * {
    color: @YELLOW;
}

#custom-warp-vpn {
    padding-left: 11px;
}

#custom-toggle-cam {
    padding-left: 11px;
}
