[cur]
PosX=0
PosY=0
Width=1261
Height=1366
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false

[new]
PosX=0
PosY=0
Width=1261
Height=1366
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false

[tmp]
PosX=0
PosY=0
Width=1261
Height=1366
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false
