* {
    background:     	#191A1625;
    background-alt: 	#2B301E25;
    foreground:     	#F1F3EF;
    selected:       	#B2B6A740;
    active:         	#24210C10;
    urgent:         	#363C4875;
    Prompt:		#191A16;
}
