* {
    background:     	#06070E25;
    background-alt: 	#1AB03C25;
    foreground:     	#E1EFFE;
    selected:       	#9BA0FC40;
    active:         	#00297F10;
    urgent:         	#9E8DFF75;
    Prompt:		#06070E;
}
