* {
    background:     	#211A1A25;
    background-alt: 	#3A625F25;
    foreground:     	#ECE0D9;
    selected:       	#BC978340;
    active:         	#46291E10;
    urgent:         	#9F8C3675;
    Prompt:		#211A1A;
}
