[Unit]
Description=Startup & Shutdown audio

[Service]
Type=oneshot
ExecStart=/sbin/paplay /usr/local/share/sounds/win11startup.mp3
ExecStop=/sbin/paplay /usr/local/share/sounds/win11shutdown.mp3
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
